<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="py.com.misgruposv01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BITACORA DE APRENDIZAJE"
        android:roundIcon="@mipmap/bitacora_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.MisGrupos2020">
        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MenuPrincipalActivity"/>
        <activity android:name=".activities.AcercaDeActivity" />
        <activity android:name=".activities.CrearCuentaActivity" />
        <activity android:name=".activities.IniciarSesionActivity" />
        <activity android:name=".activities.ListarEjercicioActivity"/>
        <activity android:name=".activities.ListarItemActivity"/>
        <activity android:name=".activities.ListarMateriaActivity" />
        <activity android:name=".activities.ListarTemasActivity" />
        <activity android:name=".activities.MenuMateriaPrincipalActivity" />
        <activity android:name=".activities.MenuTemaPrincipalActivity"/>
        <activity android:name=".activities.RegistrarEjercicioActivity"/>
        <activity android:name=".activities.RegistrarItemActivity"/>
        <activity android:name=".activities.RegistrarMateriaActivity" />
        <activity android:name=".activities.RegistrarTemaActivity"/>
        <activity android:name=".activities.RestablecerContrasenhaActivity" />
        <activity android:name=".activities.SubmenuEjercicioActivity"/>
        <activity android:name=".activities.SubmenuItemActivity"/>
        <activity android:name=".activities.TemasPendientesActivity" />
        <activity android:name=".activities.VerPerfilActivity" />
        <activity android:name=".activities.SubmenuInvestigacionActivity"/>
        <activity android:name=".activities.ListarInvestigacionActivity"/>
        <activity android:name=".activities.RegistrarInvestigacionActivity"/>

        <activity android:name=".MainActivity" />

    </application>

</manifest>